@import "../../../sass/variables";

.sidebar {
  background-color: $color-contrast-dark;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 8px 16px;
  position: fixed;
  width: $size-sidebar-width;
  z-index: $z-index-sidebar;
  overflow: hidden;

  &-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 128px;
    width: 268px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.44);

    img {
      height: 80px;
    }
  }
}
