@import "../../../sass/variables";

.card {
  padding: 8px;
  position: relative;

  & > div {
    background-color: white;
    border-radius: 2px;
    box-shadow: $whiteframe-shadow-1dp;
    height: 100%;
    padding: 32px;
    width: 100%;
  }

  &-header {
    display: flex;
    font-size: 36px;
    font-weight: 600;
    color: $color-primary;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-clear;
    width: 40%;
  }
}