@import "../../../sass/variables";

.content {
  align-content: flex-start;
  background-color: $color-clear;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  min-height: 100vh;
  margin-left: $size-sidebar-width;
  padding: 8px;
  position: relative;

  & > div:not(.header-backdrop) {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row wrap;
    z-index: $z-index-content;
  }
}